---
layout: default
---

{%- comment -%}
	2019 GUILLEUS Hugues <ghugues@netc.fr>
	BSD 3-Clause "New" or "Revised" License
{%- endcomment -%}

<h1 style="margin-bottom:0;">
	<a href="{{site.github.baseurl}}" title="home">&#127969;</a>
	{{- page.title | default: page.name | escape -}}
</h1>
{% include lang.liquid %}

{{ content }}

{%- if page.name == "index.md" -%}
	{%- include index.liquid -%}
{%- endif -%}
